<a href="https://colab.research.google.com/github/San-desh17/Tuples/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tuples
* immutable
* ordered
* allows duplicate

* Creation of Python tuple without the use of parentheses is known as Tuple Packing.

### Creating a Tuple
Time complexity: O(1)

Auxiliary Space : O(n)

In [ ]:
# empty
t = ()
type(t)

tuple

In [ ]:
# with single item
t1 = (1,)
t1

(1,)

In [ ]:
# homo
t2 = (1,2,3)
t2

(1, 2, 3)

In [ ]:
# hetero
t3 = (1,2.3,'Snas')
t3

(1, 2.3, 'Snas')

In [ ]:
t6 = (1,2,3,(2,3,4))
type(t6)

tuple

In [ ]:
t7 = (1,2,3,[4,5])
type(t7)

tuple

In [ ]:
# using type conversion
t4 = tuple('hello')
t4

('h', 'e', 'l', 'l', 'o')

### Accessing Items
* indexing
* slicing

Time complexity: O(1)

Space complexity: O(1)

### Editing items

In [ ]:
# not editing

### Deleting items

In [ ]:
# not deleting items

In [ ]:
# deleting whole tuple
del t4
t4

NameError: name 't4' is not defined

### Operations on tuples

In [ ]:
# + and *
t1 = (1,2,3)
t2 = (4,5,6)
print(t1 + t2)

(1, 2, 3, 4, 5, 6)

In [ ]:
t1 * 2

(1, 2, 3, 1, 2, 3)

In [ ]:
# membership

In [ ]:
# iteration
for i in t1:
  print(i)

1
2
3

### Tuple functions

In [ ]:
# len()

In [ ]:
# sum()

In [ ]:
# min()

In [ ]:
# max()

In [ ]:
# sorted()

In [ ]:
# count

In [ ]:
# index

### Difference between lists and tuples
* syntax
* mutability
* speed
* memory
* built in functionality
* error prone
* usability

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b, *others = (1,2,3,4,5)
print(a,b,others)

1 2 [3, 4, 5]

In [ ]:
# ziping tuple